<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-4 text-center">
    <p style="margin-top: 20vh">
    Thank you for contacting Chang An Marketing, <%= "#{@lead.first_name} #{@lead.last_name}" %>. A representative will be with you shortly.
    </p>
  </div>
</div>
