@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Magra');

$header-height: 250px;
$footer-height: 26px;

$body-color: #eee;
$header-color: #000;
$footer-color: #eff;

header {
  align-items: center;
  //background-color: $header-color;
  color: #000;
  display: flex;
  flex-direction: column;
  height: $header-height;

  .title {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
  }

  .title-subtext {
    flex-basis: 50%;
    width: 24em;    
  }
}

.submit-button {
  margin-top: 2em;
}

input {
  margin-bottom: 1em;
}

label {
  margin-bottom: 1em;
}

footer {
  background-color: $footer-color;
  bottom: 0;
  height: $footer-height;
  position: absolute;
  width: 100%;
}

body {
  background-color: $body-color;
  font-family: 'Magra', sans-serif;
}

html {
  font-size: 1em;
}

h1,
p {
  margin: 0;
}
